.banner-image {
  width: 100%;
  height: 300px;
}

.project-banner {
  background-image: url("/project-1-dark.png");
  background-size: cover;
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.banner-title {
  color: white;
}

.project-title {
  margin-top: 50px;
}

.container.project-content {
  width: 65%;
}

.project-gallery {
  justify-content: center;
  margin-top: 50px;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 100px;
}

.project-gallery-image {
  padding: 5px;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 2s;
}

.project-gallery-image.type1 {
  width: 280px;
  height: 280px;
}

.project-gallery-image.type2 {
  width: 280px;
  height: 280px;
}

/* .project-gallery-image:hover {
  transform: scale(1.05, 1.05);
} */

.gallery-container {
  display: flex;

  justify-content: center;
}

.project-gallery-image.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.modal-body {
  width: 400px;
  height: 264px;
}

@media only screen and (max-width: 650px) {
  p {
    font-size: 70%;
  }
}
