{% extends "basic_app/base.html" %} {% block body_block%} {% load static %}

<script src="{% static 'basic_app/js/fade.js' %}"></script>

<div class="home">
  <style>
    .home {
      background-image: url("{% static 'basic_app/images/home/About-Top-Back.png' %}");
    }
  </style>
  <div class="d-flex heading-flex">
    <h1 class="heading-1">Michael Earnest Rusk</h1>
  </div>
  <div class="d-flex heading-flex">
    <h4 class="heading-2">Carpenter, Custom Home Builder</h4>
  </div>

  <div class="d-flex heading-flex">
    <button type="button" class="btn btn-warning quote-button">
      <a href="{% url 'contact' %}">Request a Quote</a>
    </button>
  </div>
</div>

<div class="about container">
  <div class="about-row-flex top">
    <div class="about-column-flex">
      <h1>About</h1>
      <p>
        Michael Earnest Rusk is homegrown local. His love and knowledge of
        carpentry began 40 years ago. In his youth he would spend hours on the
        weekends with his dad in his work shop. His dad Clarence, taught him an
        appreciation for wood, structures, design and quality of work. This
        involves seeing the form of a piece and how it integrates with the
        environment, in a functional and artful way. He also taught Mike the
        importance of knowledge, drafting, and mathematics. He is a lifelong
        learner, Mike is licensed to use a variety of heavy machinery and
        continues to take courses that relate to projects he is working on.
        Environmental awareness is key to his work as a carpenter. Reclamation
        of job site materials and efficacy in waste reduction are integral parts
        of the work he does.
      </p>
    </div>
    <div class="about-column-flex">
      <img
        class="about-img"
        src="{% static 'basic_app/images/home/About-Photo-1.jpg' %}"
        alt="not found"
      />
    </div>
  </div>
  <div class="about-row-flex">
    <div class="about-column-flex bottom">
      <img
        class="about-img desktop"
        src="{% static 'basic_app/images/home/About-Photo-2.jpg' %}"
        alt="not found"
      />
    </div>
    <div class="about-column-flex bottom">
      <p>
        His approach to building is unique and unparalleled. His attention to
        detail, depth of knowledge and technique allows him to problem solve the
        most complex challenges, in a novel and traditional way. Mike’s approach
        is holistic; from foundation to finishing. He has built custom homes and
        completed custom renovations, from jack to finish over the last 35 years
        both in Southwestern Ontario and in high growth areas in British
        Columbia. His inspiration to start his own company developed from his
        experience working with a variety of local builders. These experiences
        led to the realization that having a hands on, ground level, on site
        approach is essential to a successful project.
      </p>
    </div>
  </div>

  <div class="about-row-flex top">
    <div class="about-column-flex">
      <h1>Services</h1>
      <p>
        MER utilizes the most current technology in design to implement square
        level and plumb building. This involves use of high-tech layout and
        plumb bob levels. Communication is key, MER connection to local trades
        ensures that your project is completed according your timeline. MER’s
        staff is knowledgeable, fully insured and have decades of knowledge. We
        can look after you from start to finish. MER does decks to fences,
        foundation to finishing. This includes landscape design. MER can connect
        you with local designers, architects and engineers to manifest the
        vision of your dream home. MER work speaks for itself; high standard of
        detail from start to finish.
      </p>
    </div>
    <div class="about-column-flex">
      <img
        class="about-img"
        src="{% static 'basic_app/images/home/About-Photo-1.jpg' %}"
        alt="not found"
      />
    </div>
  </div>
</div>

<div class="about-contact container">
  <h1>Request a Quote</h1>

  <form class="" action="https://formspree.io/mjvrvyek" method="POST">
    <div class="about-contact-column-flex">
      <div class="d-flex contact">
        <label for="">Name</label>
        <input type="text" name="Name" placeholder="Your Phone Name" />
      </div>
      <div class="d-flex contact">
        <label for="">Email</label>
        <input type="text" placeholder="Your Email" name="_replyto" />
      </div>
      <div class="d-flex contact">
        <label for="">Phone</label>
        <input type="text" name="Phone" placeholder="Your Phone Number" />
      </div>
      <div class="d-flex contact">
        <label for="">Project</label>
        <input
          type="textarea"
          name="message"
          placeholder="Your Project Description"
        />
      </div>
      <div class="d-flex contact-submit">
        <input class="btn btn-warning" type="submit" name="" value="Submit" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
