{% extends "basic_app/base.html" %} {% block body_block%} {% load static %}

<script src="{% static 'basic_app/js/projectfade.js' %}"></script>

<style>
  .project-banner {
    background-image: url("{% static 'basic_app/images/project-1/Project-1-Dark.png' %}");
  }
</style>

<div class="project-banner">
  <h1 class="banner-title">Project 1</h1>
</div>
<div class="container project-content">
  <h1 class="project-title">Project 1</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.lorem
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.lorem
  </p>
</div>
<div class="gallery-container">
  <div class="project-gallery">
    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />
    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />
    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />
    <img
      class="project-gallery-image type1"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-1.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />

    <img
      class="project-gallery-image type2"
      src="{% static 'basic_app/images/project-1/Project-1-Photo-2.jpg' %}"
      alt="not found"
    />
  </div>
</div>
{%endblock %}
