.contact-banner {
  background-image: url("/projects/project-2/Project-2-Dark.png");
  background-size: 100%;
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-title {
  color: white;
}

@media only screen and (max-width: 450px) {
  .contact-banner {
    background-size: 100%;
    height: 100px;
  }

  .contact-title {
    font-size: 170%;
  }
}
