.project-flex {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
}

.projects-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-flex.top {
  margin-top: 50px;
}

.project-image-main.bottom {
  margin-bottom: 50px;
}

.project-image-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-image-contents-1 {
  opacity: 0;
}
.project-image-contents-2 {
  opacity: 0;
}
.project-image-contents-3 {
  opacity: 0;
}
.project-image-contents-4 {
  opacity: 0;
}

.project-image-main {
  width: 500px;
  height: 300px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}

.project-image-main.p1 {
  background-image: url("/projects/Project-1/IMG-0361.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}

.project-image-main.p2 {
  background-image: url("/projects/Project-2-1.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}
.project-image-main.p3 {
  background-image: url("/projects/Project-3-1.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}
.project-image-main.p4 {
  background-image: url("/project-4.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 10px;
  transition-property: all;
  transition-duration: 300ms;
}
.project-image-main:hover {
  transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 550px) {
  .project-image-main {
    width: 300px;
    height: 300px;
  }
  .project-image-contents-1 {
    opacity: 1;
  }
  .project-image-contents-2 {
    opacity: 1;
  }
  .project-image-contents-3 {
    opacity: 1;
  }
  .project-image-contents-4 {
    opacity: 1;
  }
}

@media only screen and (max-width: 450px) {
  .project-image-main {
    width: 150px;
    height: 150px;
  }

  .project-flex > div > h1 {
    font-size: 150%;
  }

  .project-flex > div > link > input {
    font-size: 150%;
  }

  .project-image-contents-1 {
    opacity: 1;
  }
  .project-image-contents-2 {
    opacity: 1;
  }
  .project-image-contents-3 {
    opacity: 1;
  }
  .project-image-contents-4 {
    opacity: 1;
  }
}
